* {
    box-sizing: border-box;
}
div.cell, div.colHeaderElement {
    display: table-cell;
}
div.cellDimensions {
    min-width: 100px;
    height: 20px;
}
div.tableRow, div.commonHeader, div.rowHeaderElement {
    display: table-row;
}
div.tableColHeader, div.tableBody, div.leftRowHeader {
    overflow: auto;
}
div.leftHeader {
    float: left;
}
div.tableColHeader, div.leftHeader {
    font-weight: bold;
    border: 1px solid;
}
div.tableWidth {
    width: 400px;
}
div.tableHeight {
    height: 100px;
}
div.rowHeaderWidth {
    width: 100px;
}
